body{
    color: black;
}
.logo{
    width: 150px;
}
nav{
    background-color: coral;
    display: flex;
    color: #fff;
    padding: 10px;
    width: 100%;


}
.Padre{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
a{
    margin: 0 50px;
}
.sobremi2{
    background-color: #333;
    text-align: center;
    padding: 10px;
    width: 100%;

    flex-direction: row;
    color: #fff;
}
.textoS{
    background: coral;
}
.Borde{
    background-color: coral;
    text-align: center;
    padding: 10px;
    width: 100%;
    flex-direction: row;

}

.imgL{
    width: 50px;
}
.imgSM{
    width: 250px;

}

.sobremi{
    justify-content: center;
    align-items: center;

}
.texto{
    justify-content: right;
    display: flex;
}
.img2{
    width: 400px;

}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 200px;
}

.div2 {
    grid-area: 2 / 2 / 3 / 3;
    width: 200px;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    width: 200px;
}

.div4 {
    grid-area: 2 / 4 / 3 / 5;
    width: 200px;
}

.parent2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.tarea1 {
    grid-area: 1 / 1 / 2 / 2;

}
.tarea2 {
    grid-area: 1 / 2 / 2 / 3;

}
.tarea3 {
    grid-area: 1 / 3 / 2 / 4;

}
.tarea4 {
    grid-area: 1 / 4 / 2 / 5;

}
.imgt1{
    width: 250px;
}

.imgt2{
    width: 350px;
}

.imgt3{
    width: 450px;
}

.imgt4{
    width: 350px;
}

.sobremiF{
    background-color: cadetblue;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.Imgfooter{
    width: 250px;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formcontacto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Section4{
    background-color: coral;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.Section3{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.button{
    border: coral;
    border-radius: 16px;
    padding: 1.5rem;
    width: 100%;

}

