<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/Portfolio.css">
</head>

<body>
<header>
    <nav  th:each = "desc:${descripcion}" class="Padre">
        <img  th:src = "${desc.getLogo()}" class="logo" src="/Portfolio/Imagenes/augmented-reality_327785.png" alt="logo">

        <div>
            <a href="">HOME</a>

            <a href="#Sobremi">SOBRE MI</a>

            <a href="#Proyectos">PROYECTOS</a>

            <a href="#Aptitudes">APTITUDES</a>

            <a href="#Contacto">CONTACTO</a>

        </div>
    </nav>
</header>

<section id="Sobremi" class="sobremi2">

    <div th:each = "desc:${descripcion}" class="sobremi">
        <div>
            <h1>SOBRE MI</h1>
        </div>
        <div>
            <img class="imgSM" th:src="${desc.getFoto()}" alt="">
        </div>
        <div>
            <p th:text="${desc.getNombre()}"></p>
        </div>
    </div>
    <div th:each = "desc:${descripcion}" class="sobremi2">
        <div class="texto">
            <h3 class="button" th:text="${desc.getTexto()}"></h3>
        </div>
    </div>

</section>

<section  id="Proyectos" class="Borde">
    <div>
        <h1>PROYECTOS</h1>
    </div>
    <div  class="parent2">
        <div class="tarea1" th:each ="proy:${proyectos}">
            <a href=""><img class="imgt1" th:src="${proy.getFoto_proyecto()}" alt=""></a>
        </div>
    </div>
</section>

<section class="Section3" id="Aptitudes">
    <div>
        <h1>APTITUDES</h1>
    </div>
    <div class="parent">
        <div class="div1">
            <img src="./img/logoword.jpg" alt="">
            <h3>Microsoft Word</h3>
        </div>
        <div class="div2">
            <img src="./img/logoteams.jpg" alt="">
            <h3>Microsoft Teams</h3>
        </div>
        <div class="div3">
            <img src="./img/logoJAVA2 - copia.png" alt="">
            <h3>JAVA</h3>
        </div>
        <div class="div4">
            <img src="./img/logoHTML - copia.png" alt="">
            <h3>HTML</h3>
        </div>
    </div>

</section>

<section id="Contacto" class="Section4">
    <div>
        <h3>PONERSE EN CONTACTO</h3>
    </div>
    <div class="formcontacto">
        <form action="/" method="post">
            <div>
                <label for="nombre">Nombre:</label><br>
                <input type="text" id="nombre" name="nombre"><br>
            </div>
            <div>
                <label for="apellidos">Apellidos:</label><br>
                <input type="text" id="apellidos" name="apellidos"><br>
            </div>
            <div>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email"><br>
            </div>
            <div>
                <label for="telefono">Número de telefono:</label><br>
                <input type="text" id="telefono" name="telefono">
            </div>
            <div>
                <label for="Mensaje">Mensaje:</label><br>
                <input type="text" id="Mensaje" name="mensaje">
            </div>
            <div>
                <input type="submit">
            </div>
        </form>
    </div>
</section>

<section>
    <footer th:each="foot :${footer}">
        <img class="Imgfooter" th:src="${foot.getLogo()}" alt="logo">
        <div>
            <h3>CONTACTO</h3>
            <p th:text="${foot.getTelefono()}" ></p>
            <p th:text="${foot.getEmail()}" ></p>
        </div>
    </footer>
</section>

</body>

</html>